<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bill_Details</title>

    <link th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/footable/2.0.3/css/footable.core.min.css}" rel="stylesheet">
    <link th:href="@{/css/commons/logout.css}" rel="stylesheet">
    <link th:href="@{/css/commons/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/commons/style.min.css}" rel="stylesheet">
    <link th:href="@{/css/backend/bill_details.css}" rel="stylesheet">

</head>

<body>

<div id="wrapper">

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">

        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <a th:replace="commons/logout::logout_btn"></a>
                <h2>账单详情</h2>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="border"></div>
            <div class="row">
                <div class="col-lg-16">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <h2 style="text-align: center">费用详情</h2>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                <tr>
                                    <th colspan="4">账单归属</th>
                                    <th colspan="4">仪表名称</th>
                                    <th colspan="4">总计度数</th>
                                    <th colspan="4">账单金额</th>
                                </tr>
                                </thead>
                                    <tbody>
                                    <tr>
                                        <th colspan="4" th:text="${bill.tenant != null}?${bill.tenant.name}:损耗"></th>
                                        <td colspan="4"th:text="${bill.eleMeter.name}"></td>
                                        <td colspan="4"th:text="${bill.end_degree - bill.start_degree}"></td>
                                        <th colspan="4" th:text="${bill.price}"></th>
                                    </tr>
                                    </tbody>
                                    <thead>
                                    <tr>
                                        <th colspan="8">度数区间</th>
                                        <th colspan="8">计价期间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th colspan="8" th:text="${bill.start_degree} + @{至} + ${bill.end_degree}"></th>
                                        <th colspan="8" th:text="${bill.start_date} + @{至} + ${bill.end_date}"></th>
                                    </tr>
                                    </tbody>
                                    <thead>
                                    <tr>
                                        <th colspan="16">支付状态</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th colspan="16" th:style="${bill.is_paid !=1}?'color:red':'color:green'" th:text="${bill.is_paid !=1}?未支付:已支付"></th>
                                    </tr>
                                    </tbody>
                                </table>
                                <div id="btn_contant">
                                    <a th:href="@{/tenantedit/}"><button class="btn btn-md btn-warning">编辑</button></a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script type="text/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.min.js}"></script>

</body>

</html>