<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Bills</title>

    <link th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/footable/2.0.3/css/footable.core.min.css}" rel="stylesheet">
    <link th:href="@{/css/commons/logout.css}" rel="stylesheet">
    <link th:href="@{/css/commons/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/commons/style.min.css}" rel="stylesheet">

</head>

<body>

<div id="wrapper">

    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">

        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <a th:replace="commons/logout::logout_btn"></a>
                <h2>账单管理</h2>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <!--根据电表查询按钮-->
            <a th:href="@{/elebills_m_all/}+ ${meter.id}" th:if="${meter != null}"><button type="button" class="btn btn-success">全部</button></a>
            <a th:href="@{/elebills_m_unpaid/}+ ${meter.id}"><button type="button" class="btn btn-danger" th:if="${query_status != 1}">未支付</button></a>
            <a th:href="@{/elebills_m_paid/}+ ${meter.id}"><button type="button" class="btn btn-primary" th:if="${query_status != 2}">已支付</button></a>
            <a th:href="@{/elemeters/} + ${meter.market.id}" th:if="${meter!=null}"><button type="button" class="btn btn-info">返回</button></a>
            <!--根据租户查询按钮-->
            <div class="border"></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 th:if="${query_status == 0}">所有账单列表</h5>
                            <h5 th:if="${query_status ==1}">未支付账单列表</h5>
                            <h5 th:if="${query_status ==2}">已支付账单列表</h5>
                        </div>
                        <div class="ibox-content">

                            <table class="footable table table-stripped toggle-arrow-tiny">
                                <thead>
                                <tr>
                                    <th data-hide="all">表名</th>
                                    <th data-hide="all">归属</th>
                                    <th data-hide="all">度数</th>
                                    <th data-hide="all">金额</th>
                                    <th data-hide="all">状态</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="bill:${bills}">
                                    <td th:text="${bill.eleMeter.name}">name</td>
                                    <td th:text="${bill.tenant == null}?损耗:${bill.tenant.name}">name</td>
                                    <td th:text="${bill.end_degree - bill.start_degree}">degree_total</td>
                                    <td th:text="${bill.price}">price</td>
                                    <td th:text="${bill.is_paid == 0}?未支付:已支付">is_paid</td>
                                    <td>
                                        <a th:href="@{/elebill/}+${bill.id}" target="_blank"><button class="btn btn-sm">详情</button></a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script type="text/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.min.js}"></script>

</body>

</html>