<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>电表编辑</title>

    <link th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/iCheck/1.0.2/skins/green.css}" rel="stylesheet">
    <link th:href="@{/css/commons/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/commons/style.min.css}" rel="stylesheet">
    <link th:href="@{/css/commons/logout.css}" rel="stylesheet">
    <link th:href="@{/webjars/awesome-bootstrap-checkbox/1.0.0/awesome-bootstrap-checkbox.css}" rel="stylesheet">

</head>

<body>

    <div id="wrapper">


        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <a th:replace="commons/logout::logout_btn"></a>
                    <h2>编辑</h2>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>电表编辑</h5>
                        </div>
                        <div class="ibox-content">
                            <form action="/elemeter" method="post" modelAttribute="eleMeter" id="inputForm" class="form-horizontal">
                                <div class="form-group"><label class="col-sm-2 control-label">电表名称</label>
                                    <div class="col-sm-10"><input name="name" id="name" type="text" th:value="${meter!=null}?${meter.name}" class="form-control"></div>
                                </div>
                                <!--若为修改，加入id-->
                                <input type="hidden" id="meterId" th:name="id" th:value="${meter!=null}?${meter.id}" th:if="${meter!=null}"/>
                                <!--若为修改，插入put隐藏域-->
                                <input type="hidden" th:name="_method" th:value="put" th:if="${meter!=null}"/>
                                <div class="form-group"><label class="col-sm-2 control-label">当前读数</label>
                                    <div class="col-sm-10"><input id="degree" name="degree" type="text" th:value="${meter!=null}?${meter.degree}" class="form-control"></div>
                                </div>
                                <div class="form-group" th:if="${meter!=null}"><label class="col-sm-2 control-label">最后读数日期</label>
                                    <div class="col-sm-10"><input id="update_date" type="text" th:disabled="${meter!=null}?disabled"
                                                                  th:value="${meter!=null}?${meter.update_date}:0" class="form-control"></div>
                                </div>
                                <!--<div class="form-group"><label class="col-sm-2 control-label">租户id</label>-->
                                    <!--<div class="col-sm-10"><input id="tenant_id" name="tenant.id" type="text" th:value="${meter!=null}?${meter.tenant.id}" class="form-control"></div>-->
                                <!--</div>-->
                                <input type="hidden" id="market_id" name="market.id" th:value="${meter!=null}?${meter.market.id}:${market_id}" />
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button th:attr="back_uri = @{/elemeters/}+${meter.tenant.market.id}" th:if="${meter!=null}" class="btn btn-white backBTN" >取消</button>
                                        <button th:attr="back_uri = @{/elemeters/}+${market_id}" th:if="${meter==null}" class="btn btn-white backBTN" >取消</button>
                                        <button class="btn btn-primary" type="submit">保存</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

    <!-- Mainly scripts -->
    <script type="text/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.min.js}"></script>
<script>
    $backBTN = $(".backBTN");
    $backBTN.click(function () {
        var uri = $backBTN.attr("back_uri");
        window.location.replace(uri);
        return false;
    })
</script>
</body>

</html>
