<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tenants</title>

    <link th:href="@{/webjars/bootstrap/3.1.1/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/webjars/footable/2.0.3/css/footable.core.min.css}" rel="stylesheet">
    <link th:href="@{/css/commons/logout.css}" rel="stylesheet">
    <link th:href="@{/css/commons/animate.min.css}" rel="stylesheet">
    <link th:href="@{/css/commons/style.min.css}" rel="stylesheet">
    <link th:href="@{/css/commons/bootstrap-chosen.css}" rel="stylesheet">
    <link th:href="@{/css/backend/eleMeters.css}" rel="stylesheet">

</head>
<body>
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">

        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <a th:replace="commons/logout::logout_btn"></a>
                <h2 th:text="${market.name}+@{电表管理}">电表管理</h2>
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <a th:href="@{/markets}">
                <button type="button" class="btn btn-primary">返回</button>
            </a>
            <a th:href="@{/elemeter/}+${market.id}">
                <button type="button" class="btn btn-info">添加电表</button>
            </a>
            <div class="border"></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>电表列表</h5>

                        </div>
                        <div class="ibox-content">
                            <table class="footable table table-stripped toggle-arrow-tiny">
                                <thead>
                                <tr>
                                    <th data-hide="all">电表名称</th>
                                    <th data-hide="all">记录度数</th>
                                    <th data-hide="all">抄表日期</th>
                                    <th data-hide="all">归属商户</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="meter:${meters}">
                                    <td th:text="${meter.name}"></td>
                                    <td th:text="${meter.degree}"></td>
                                    <td th:text="${meter.update_date}"></td>
                                    <td th:text="${meter.tenant!=null}?${meter.tenant.name}:暂无"></td>
                                    <td>
                                         <a th:href="@{/tenant_details/}" th:if="${meter.status!=0}">
                                            <button class="btn btn-sm btn-warning">抄表</button>
                                        </a>
                                        <button th:if="${meter.status!=0}" th:attr="meterId=${meter.id}" class="btn btn-sm btn-info changeBTN" >更换归属</button>
                                        <a th:href="@{/tenant_details/}">
                                            <button th:class="${meter.status==0}?@{btn btn-sm btn-primary}:@{btn btn-sm btn-danger}"
                                                    th:text="${meter.status==0}?启用:停用">启停
                                            </button>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                            <!--更换商户归属弹窗-->
                            <div class="form-group" id="tenant_search">
                                <div id="searchbox_container">
                                    <h2 >更改归属商户</h2>
                                    <div>
                                        <form action="/eleowner" method="post" modelAttribute="eleMeter">
                                            <!--填入要更改的电表id-->
                                            <input type="hidden" th:name="id"/>
                                            <!--put隐藏域-->
                                            <input type="hidden" th:name="_method" th:value="put" />
                                            <select data-placeholder="请选择商户" class="chosen-select" tabindex="2" name="tenantId">
                                                    <option th:each="tenant:${tenants}" th:value="${tenant.id}" th:text="${tenant.name}"></option>
                                            </select>
                                                <div class="col-sm-4 col-sm-offset-2">
                                                    <button  class="btn btn-white cancelBTN" >取消</button>
                                                    <button class="btn btn-primary" type="submit">保存</button>
                                                </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Mainly scripts -->
<script type="text/javascript" th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.1.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/commons/chosen.jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/backend/eleMeters.js}"></script>

</body>

</html>